In [1]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime as dt
from matplotlib.ticker import FormatStrFormatter

In [4]:
df = pd.read_csv('123.csv',on_bad_lines='skip')
display(df.head())
display(df.tail())
display(df.dtypes)
df.info()

                 Modified Date: 2022-10-03 23:30 UTC
0  Station Inventory Disclaimer: Please note that...
1  Station ID Disclaimer: Station IDs are an inte...

                 Modified Date: 2022-10-03 23:30 UTC
0  Station Inventory Disclaimer: Please note that...
1  Station ID Disclaimer: Station IDs are an inte...

Modified Date: 2022-10-03 23:30 UTC    object
dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 1 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Modified Date: 2022-10-03 23:30 UTC  2 non-null      object
dtypes: object(1)
memory usage: 144.0+ bytes