# Assignment 3

## Instructions - Read this first!

This is an individual homework assignment. This means that:

- You may discuss the problems in this assignment with other students in this course and your instructor/TA, but YOUR WORK MUST BE YOUR OWN.
- Do not show other students code or your own work on this assignment.
- You may consult external references, but not actively receive help from individuals not involved in this course.
- Cite all references outside of the course you used, including conversations with other students which were helpful. (This helps us give credit where it is due!). All references must use a commonly accepted reference format, for example, APA or IEEE (or another citation style of your choice).

If any of these rules seem ambiguous, please check with with your instructor for help interpreting them.

We suggest completing this assignment using the provided notebook. Each question should be answered using a SQL query (or combination or SQL queries) unless the text indicates that you may (or should) do something else. You may submit your queries embedded in Python, using SQLAlchemy or the MySQL Connector, or as plain text in Markdown.

## When you submit your work

Your submission will be graded manually. To ensure that everything goes smoothly, please follow these instructions to prepare your notebook for submission to the D2L Dropbox for Assignment 3:

- Please remove any print statments used to test your work (you can comment them out)
- Please provide your solutions where asked; please do not alter any other parts of this notebook.
- If you need to add cells to test your code please move them to the end of the notebook before submission- or you may included your commented out answers and tests in the cells provided

## Introduction

In this assignment, you will continue to practice and extend your SQL skills, and compare your work to MongoDB.

We will be using two datasets from Open Data Calgary. The Census by Community 2019 dataset shows results of the 2019 Civic Census. This is a separate process from that used by Statistics Canada to produce the national census, some of which results we explored in the previous assignment. 

This census data counts dwelling units in the city and categorized the population within each unit, aggregating results by community. The original dataset has been partially cleaned for you, removing some columns which are not relevant to the assignment. However, given that there are still 75 columns remaining, you may want to use SQLAlchemy or another bulk load tool to handle the creation of the database table for this dataset, before altering the table as needed to change data types or creating indexes.

The Community Services dataset lists a number of amenities in the city with their address and community. This table has not been altered from the version provided by Open Data Calgary.

## Data cleaning and import

First, import the two CSVs (Community_Services.csv, Census_by_Community_2019.csv) into your own database. You may use what is available to you on datasciencedb or datasciencedb2. You may also create indexes and define keys if appropriate for the column(s) of your choice.

In the section below, you have the option to discuss any data cleaning and wrangling steps performed during this process. This is not a requirement and will not be assessed directly for grading; however, this may help to clarify to your reader exactly what was done, to make your work below more understandable.

In [1]:
import pandas as pd
import sqlalchemy as sq
import mysql.connector
from pandas.io import sql
engine = sq.create_engine('mysql+mysqlconnector://zheyu_song:5QFH73NUI@datasciencedb.ucalgary.ca/zheyu_song')

In [4]:
dfcc = pd.read_csv("Census_by_Community_2019.csv")
display(dfcc.head())
display(dfcc.info())
dfcs = pd.read_csv("Community_Services.csv")
display(dfcs.head())
display(dfcs.info())
dfcc.to_sql('cbc', engine )
dfcs.to_sql('cs', engine )

,CLASS,CLASS_CODE,COMM_CODE,NAME,SECTOR,SRG,COMM_STRUCTURE,CNSS_YR,FOIP_IND,RES_CNT,...,OTHER_0_4,OTHER_5_14,OTHER_15_19,OTHER_20_24,OTHER_25_34,OTHER_35_44,OTHER_45_54,OTHER_55_64,OTHER_65_74,OTHER_75
0,Residential,1,LEG,LEGACY,SOUTH,DEVELOPING,BUILDING OUT,2019,NaN,6420,...,0,0,0,0,0,0,0,0,0,0
1,Residential,1,HPK,HIGHLAND PARK,CENTRE,BUILT-OUT,1950s,2019,NaN,3838,...,0,0,0,0,0,0,0,0,0,0
2,Residential,1,CNS,CORNERSTONE,NORTHEAST,DEVELOPING,2000s,2019,NaN,2648,...,0,0,0,0,0,0,0,0,0,0
3,Residential,1,MON,MONTGOMERY,NORTHWEST,BUILT-OUT,1950s,2019,NaN,4515,...,0,0,0,0,0,0,0,0,0,0
4,Residential,1,TEM,TEMPLE,NORTHEAST,BUILT-OUT,1960s/1970s,2019,NaN,10977,...,0,0,0,0,0,0,0,0,0,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 75 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CLASS           306 non-null    object
 1   CLASS_CODE      306 non-null    int64
 2   COMM_CODE       306 non-null    object
 3   NAME            306 non-null    object
 4   SECTOR          306 non-null    object
 5   SRG             213 non-null    object
 6   COMM_STRUCTURE  306 non-null    object
 7   CNSS_YR         306 non-null    int64
 8   FOIP_IND        48 non-null     object
 9   RES_CNT         306 non-null    int64
 10  DWELL_CNT       306 non-null    int64
 11  PRSCH_CHLD      306 non-null    int64
 12  OWNSHP_CNT      306 non-null    int64
 13  PUB_SCH         306 non-null    int64
 14  SEP_SCH         306 non-null    int64
 15  PUBSEP_SCH      306 non-null    int64
 16  OTHER_SCH       306 non-null    int64
 17  UNKNWN_SCH      306 non-null    int64
 18  SING_FAMLY      306 non-null    int64
 19  DUPLEX          306 non-null    int64
 20  MULTI_PLEX      306 non-null    int64
 21  APARTMENT       306 non-null    int64
 22  TOWN_HOUSE      306 non-null    int64
 23  MANUF_HOME      306 non-null    int64
 24  CONV_STRUC      306 non-null    int64
 25  COMUNL_HSE      306 non-null    int64
 26  RES_COMM        306 non-null    int64
 27  OTHER_RES       306 non-null    int64
 28  NURSING_HM      306 non-null    int64
 29  OTHER_INST      306 non-null    int64
 30  HOTEL_CNT       306 non-null    int64
 31  OTHER_MISC      306 non-null    int64
 32  MALE_CNT        306 non-null    int64
 33  FEMALE_CNT      306 non-null    int64
 34  MALE_0_4        306 non-null    int64
 35  MALE_5_14       306 non-null    int64
 36  MALE_15_19      306 non-null    int64
 37  MALE_20_24      306 non-null    int64
 38  MALE_25_34      306 non-null    int64
 39  MALE_35_44      306 non-null    int64
 40  MALE_45_54      306 non-null    int64
 41  MALE_55_64      306 non-null    int64
 42  MALE_65_74      306 non-null    int64
 43  MALE_75         306 non-null    int64
 44  FEM_0_4         306 non-null    int64
 45  FEM_5_14        306 non-null    int64
 46  FEM_15_19       306 non-null    int64
 47  FEM_20_24       306 non-null    int64
 48  FEM_25_34       306 non-null    int64
 49  FEM_35_44       306 non-null    int64
 50  FEM_45_54       306 non-null    int64
 51  FEM_55_64       306 non-null    int64
 52  FEM_65_74       306 non-null    int64
 53  FEM_75          306 non-null    int64
 54  MF_0_4          306 non-null    int64
 55  MF_5_14         306 non-null    int64
 56  MF_15_19        306 non-null    int64
 57  MF_20_24        306 non-null    int64
 58  MF_25_34        306 non-null    int64
 59  MF_35_44        306 non-null    int64
 60  MF_45_54        306 non-null    int64
 61  MF_55_64        306 non-null    int64
 62  MF_65_74        306 non-null    int64
 63  MF_75           306 non-null    int64
 64  OTHER_CNT       306 non-null    int64
 65  OTHER_0_4       306 non-null    int64
 66  OTHER_5_14      306 non-null    int64
 67  OTHER_15_19     306 non-null    int64
 68  OTHER_20_24     306 non-null    int64
 69  OTHER_25_34     306 non-null    int64
 70  OTHER_35_44     306 non-null    int64
 71  OTHER_45_54     306 non-null    int64
 72  OTHER_55_64     306 non-null    int64
 73  OTHER_65_74     306 non-null    int64
 74  OTHER_75        306 non-null    int64
dtypes: int64(68), object(7)
memory usage: 179.4+ KB

None

,TYPE,NAME,ADDRESS,COMM_CODE,POINT
0,Community Centre,Rosemont Community Centre,2807 10 ST NW,CAP,POINT (-114.0860375 51.076753)
1,Attraction,WinSport's Canada Olympic Park,88 Canada Olympic RD SW,COP,POINT (-114.2154069 51.0823997)
2,Community Centre,Mid-Sun Community Centre,50 Midpark RI SE,MID,POINT (-114.0566252 50.9154377)
3,Attraction,Arts Commons,205 8 AV SE,DNC,POINT (-114.0600555 51.0453422)
4,Community Centre,Willow Park / Mapleridge Community Centre,680 Acadia DR SE,MPL,POINT (-114.0433391 50.9598927)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TYPE       206 non-null    object
 1   NAME       206 non-null    object
 2   ADDRESS    204 non-null    object
 3   COMM_CODE  202 non-null    object
 4   POINT      206 non-null    object
dtypes: object(5)
memory usage: 8.2+ KB

None

206

## Part A: Warm-up Questions (10 marks)

Answer the questions below, including any queries you used where necessary. Not all questions will require a SQL query for a correct response. You may wish to use as a source the references which are already provided as part of this notebook.

First, let's look at the Census by Community Data.

1. How many communities are included as part of this census? **(1 mark)**

2. There are 75 columns in the version of the dataset provided to you. While not all of them are equally interesting, briefly describe the following columns. **(3 marks)**

   - CLASS

   - SRG (include in your answer all posslbe values)

   - COMM_STUCTURE
   

3. What other columns, to your eye, look interesting? Provide an example of a guiding question which would take advantage of one of these columns. **(2 marks)**

In [8]:
#1
statement = '''select count(DISTINCT COMM_CODE) from cbc;'''

query1_table = pd.read_sql_query(statement, engine)
print(query1_table)
# There are 306 communities included as part of this census.

   count(DISTINCT COMM_CODE)
0                        306

## #2 
   - CLASS: The class of the communities. It is the types of communities, divided into four different of categories that are Industrial, Major Park Area, Residential and Residual Sub Area.
   - SRG (include in your answer all posslbe values): Reflects the yearly development capacity or housing supply as outlined in the Suburban Residential Growth document, the valid values are: BUILT-OUT, DEVELOPING and N/A.

   - COMM_STUCTURE: It helps us to understand how people are living in Calgary and how the population is changing over time. At the end of each decade, at least 51% of the people who used to live in the community must still be there.
   
Citation:
Census by Community 2019 [online], 2022. Open Calgary. Available from: https://data.calgary.ca/Demographics/Census-by-Community-2019/rkfr-buzb [Accessed 26 Nov 2022].

In [7]:
statement = '''select SRG, count(SRG) 
from cbc
group by SRG;'''

query1_table = pd.read_sql_query(statement, engine)
print(query1_table)
# There are 306 communities included as part of this census.

          SRG  count(SRG)
0        None           0
1   BUILT-OUT         173
2  DEVELOPING          40

Next, let's look at the Community Services table. 

4. How many services in total are there? **(1 mark)**


5. List all possible types of community services listed in the table. How many are missing a community code? **(1 mark)**


6. Which column is the most useful as a key to be used in a join? **(1 mark)**


7. Which community has the highest number of available community services? Include the names of any community with this number of services. **(1 mark)**

In [15]:
#4
statement = '''select count(NAME) from cs;'''

query1_table = pd.read_sql_query(statement, engine)
print(query1_table)
# There are 206 services in total.

   count(NAME)
0          206

In [14]:
#5

statement = '''select DISTINCT TYPE from cs;'''

query1_table = pd.read_sql_query(statement, engine)
print(query1_table)

statement = '''select TYPE, Count(TYPE) AS NumberofMissingCode
from cs
where COMM_CODE IS  NULL
group by TYPE;'''

query1_table = pd.read_sql_query(statement, engine)
print(query1_table)

# Only one of the type Attraction is missing community code, in total there are 4 community services are missing a community code.

               TYPE
0  Community Centre
1        Attraction
2      Visitor Info
3             Court
4           Library
5          Hospital
6        PHS Clinic
7    Social Dev Ctr
         TYPE  NumberofMissingCode
0  Attraction                    4

**#6** 

COMM_CODE is the most useful column as a key to be used in a join.

In [17]:
#7
statement = '''select COMM_CODE, COUNT(NAME) AS NUMofServices
from CS
group by COMM_CODE
ORDER BY COUNT(NAME) desc
limit 1;'''

query1_table = pd.read_sql_query(statement, engine)
print(query1_table)
#Community DNC has the highest number of available community services.

  COMM_CODE  NUMofServices
0       DNC             24

## Part B: SQL with multiple tables (13 marks)


What is the population of seniors (male and female, or other, aged 65 and over) in the community or communities with the most community services? **(2 marks)**

What is the population of children (male and female, or other, aged 0 to 14), in the community or communities with the most community services?  **(2 marks)**

What is the total population of seniors (male and female, or other, aged 65 and over) in all communities that contain nursing homes?  **(2 marks)**

What is the total number of residents, children (using the definition above) and seniors (using the definitions above) in communities which do not have any community services?  **(2 marks)**

Generate a list of the ten such communities with the greatest number of residents.  **(2 marks)**

Prepare a list of community services as follows: **(3 marks)**
- Each community service should list, for the community which they are in, the total number of residents, the total number of preschool children, and the number of dwellings.
- Community services with no community listed should use a meaningful placeholder in the result.
- Communities with no community services should be included in the results, with a meaningful placeholder where data for community services would ordinarily be included.

In [18]:
#What is the population of seniors (male and female, or other, aged 65 and over) in the community or communities with the most community services? **(2 marks)**

statement = '''SELECT (MF_65_74 + MF_75 + OTHER_65_74 + OTHER_75) AS 'Population of Seniors'
from cbc t1
INNER JOIN (
select COMM_CODE, COUNT(NAME) AS NUMofServices
from CS
group by COMM_CODE
ORDER BY COUNT(NAME) desc
limit 1
) AS t2 ON t1.COMM_CODE = T2.COMM_CODE;'''

query1_table = pd.read_sql_query(statement, engine)
print(query1_table)

#820

   Population of Seniors
0                    820

In [6]:
#What is the population of children (male and female, or other, aged 0 to 14), in the community or communities with the most community services?  **(2 marks)**
statement = '''SELECT (MF_0_4 + MF_5_14 + OTHER_0_4 + OTHER_5_14) AS 'Population of children'
from cbc t1
INNER JOIN (
select COMM_CODE, COUNT(NAME) AS NUMofServices
from CS
group by COMM_CODE
ORDER BY COUNT(NAME) desc
limit 1
) AS t2 ON t1.COMM_CODE = T2.COMM_CODE;'''

query1_table = pd.read_sql_query(statement, engine)
print(query1_table)
#817

   Population of children
0                     817

In [7]:
#What is the total population of seniors (male and female, or other, aged 65 and over) in all communities that contain nursing homes?  **(2 marks)**
statement = '''SELECT SUM(MF_65_74 + MF_75 + OTHER_65_74 + OTHER_75) AS 'Population of Seniors'
from cbc t1
WHERE NURSING_HM > 0;'''

query1_table = pd.read_sql_query(statement, engine)
print(query1_table)

   Population of Seniors
0                58320.0

In [17]:
#What is the total number of residents, children (using the definition above) and seniors (using the definitions above) in communities which do not have any community services?  **(2 marks)**=

statement = '''SELECT (sum(RES_CNT)+sum(MF_0_4 + MF_5_14 + OTHER_0_4 + OTHER_5_14)+SUM(MF_65_74 + MF_75 + OTHER_65_74 + OTHER_75)) as 'number of all' ,sum(RES_CNT) as 'number of residents', sum(MF_0_4 + MF_5_14 + OTHER_0_4 + OTHER_5_14) AS 'number of children', sum(MF_65_74 + MF_75 + OTHER_65_74 + OTHER_75) AS 'number of Seniors'
from cbc t1
left JOIN (
select DISTINCT COMM_CODE
from cs) AS t2 ON t1.COMM_CODE = t2.COMM_CODE
WHERE t2.COMM_CODE IS NULL;'''

query1_table = pd.read_sql_query(statement, engine)
print(query1_table)

   no  number of all  number of residents  number of children  \
0  No       657010.0             500848.0            109380.0

   number of Seniors
0            46782.0

In [14]:
#Generate a list of the ten such communities with the greatest number of residents.  **(2 marks)**
statement = '''SELECT COMM_CODE, sum(RES_CNT) 'number of residents'
from cbc t1
Group by COMM_CODE
ORDER BY sum(RES_CNT) DESC
LIMIT 10;'''

query1_table = pd.read_sql_query(statement, engine)
print(query1_table)

  COMM_CODE  number of residents
0       PAN              25710.0
1       BLN              25129.0
2       SAD              22321.0
3       EVE              21500.0
4       TUS              19884.0
5       CRA              19884.0
6       TAR              19026.0
7       MCT              18283.0
8       EVN              17685.0
9       COV              17667.0

In [23]:
###Prepare a list of community services as follows: (3 marks)
create_statement2 = '''
CREATE TABLE IF NOT EXISTS newcs AS (select  TYPE, NAME, ADDRESS, coalesce(COMM_CODE,'No Community') as COMM_CODE, POINT
from cs);
'''
sql.execute(create_statement2,engine)

statement = '''SELECT T1.NAME, t1.COMM_CODE,RES_CNT, PRSCH_CHLD, DWELL_CNT
from newcs as t1 left join cbc as t2 on t1.COMM_CODE = t2.COMM_CODE
UNION
SELECT 'No Community Services ' as NAME, t1.COMM_CODE,  RES_CNT as RES_CNT, (PRSCH_CHLD) as PRSCH_CHLD, (DWELL_CNT) as DWELL_CNT
from cbc t1
left JOIN (
select DISTINCT COMM_CODE
from newcs) AS t2 ON t1.COMM_CODE = t2.COMM_CODE
WHERE t2.COMM_CODE IS NULL
;'''

query1_table = pd.read_sql_query(statement, engine)
print(query1_table)

#IsmailS, MatBailie (2013) Coalesce function in TSQL, Stack Overflow. Available at: https://stackoverflow.com/questions/13366488/coalesce-function-in-tsql (Accessed: December 5, 2022).

                               NAME COMM_CODE  RES_CNT  PRSCH_CHLD  DWELL_CNT
0    Highland Park Community Centre       HPK   3838.0       325.0     2277.0
1                           Bowmont       MON   4515.0       328.0     2013.0
2       Montgomery Community Centre       MON   4515.0       328.0     2013.0
3           Temple Community Centre       TEM  10977.0       908.0     3733.0
4         Bankview Community Centre       BNK   5256.0       165.0     3531.0
..                              ...       ...      ...         ...        ...
374          No Community Services        SPH   9943.0       735.0     3372.0
375          No Community Services        01H      0.0         0.0        0.0
376          No Community Services        HID  11566.0       762.0     3880.0
377          No Community Services        RID    594.0         0.0      342.0
378          No Community Services        FRA      0.0         0.0        3.0

[379 rows x 5 columns]

## Part C: Evaluating your results  (7 marks)


**Question 1 (3 marks)**

The queries in Part B suggest that there are parts of Calgary which may be over-served by the numbers of community services available, and there are parts of Calgary which may be underserved by kinds of community services which are not available.

Before we continue with this line of inquiry, discuss two factors which may not be captured by either dataset.



Nominate one datset already available from Open Data Calgary which addresses one of your two factors. Remember to reference this using a well-accepted reference format.

Factor 1: Community Median Income
If the community has a high median income, this may lead to an excess of community services in that community, and conversely if the community has a low median income, then the community is likely to have a lack of community services.

Factor 2: Federal Election voting history of Community
Party orientation of the community is likely to lead to different distribution of community services


Voting Subdivisions - 2021 Municipal Election [online], 2022. Open Calgary. Available from: https://data.calgary.ca/Government/Voting-Subdivisions-2021-Municipal-Election/4uv7-r7pt [Accessed 5  Dec 2022].

Calgary Equity Index Matrix [online], 2022. Open Calgary. Available from: https://data.calgary.ca/Help-and-Information/Calgary-Equity-Index-Matrix/xeek-u7v8 [Accessed 5  Dec 2022].


**Question 2 (4 marks)**

Imagine that we have stored data relevant to each community in a separate JSON object, each of which has been added to a document in the same collection in MongoDB. Community Services have been added as list of JSON attributes to the relevant community.

For example, we might have
```
{
  Community:"Community Name", 
  ...
  Community_Services:[
      {
          "Community Service": "Community Service Name"
          
      },
      ...
      ]
  }
```
Pick one of the queries from Part B to discuss. Do you think it is more difficult to retrieve the information requested for this query from the pair of relational database tables provided to you, or from a MongoDB collection set up as described? Explain why or why not.

I think for the query of question 2 is not more difficult to retrieve the information requested for this query from the pair of relational database table provided to me. It is more difficult to achieve by using MongoDB. Because MongoDb is a non-relational database, it is hard to do such thing that a relational database like MySQL would do.
For me personally, I have little experience with MDB, which makes it very difficult to use MDB to implement this query.

## Part E: Reflection (5 marks)


In 100 to 250 words, identify a concept you have found difficult or confusing from this assignment. Reflect on how your previous learning or experience helped you to understand this concept. Provide your reflection using markdown in the cell below.

In this assignment, I encountered difficulty and confusion when attempting to address NULL entries in an SQL table. Specifically, the prompt for Part B required that I use a placeholder for Community services with no community listed, however, since the NULL values had not been accounted for in the preceding data cleaning step, I was forced to address the issue with SQL. After researching the topic, I found the ISNULL() equation, which did not work, and then discovered the coalesce() equation, which proved to be successful. This experience allowed me to further develop my problem solving skills in areas that had not previously been covered in my study.

## References

Both datasets used in this Assignment are licensed under the Open Government License - City of Calgary.

Census by Community 2019 [online], 2022. Open Calgary. Available from: https://data.calgary.ca/Demographics/Census-by-Community-2019/rkfr-buzb [Accessed 26 Nov 2022].

Community Services [online], 2022. Open Calgary. Available from: https://data.calgary.ca/Services-and-Amenities/Community-Services/x34e-bcjz [Accessed 26 Nov 2022].

Voting Subdivisions - 2021 Municipal Election [online], 2022. Open Calgary. Available from: https://data.calgary.ca/Government/Voting-Subdivisions-2021-Municipal-Election/4uv7-r7pt [Accessed 5  Dec 2022].

Calgary Equity Index Matrix [online], 2022. Open Calgary. Available from: https://data.calgary.ca/Help-and-Information/Calgary-Equity-Index-Matrix/xeek-u7v8 [Accessed 5  Dec 2022].

IsmailS, MatBailie (2013) Coalesce function in TSQL, Stack Overflow. Available at: https://stackoverflow.com/questions/13366488/coalesce-function-in-tsql (Accessed: December 5, 2022).

In [ ]:
engine.dispose()